In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/Second_Health_Camp_Attended.csv")
df

      Patient_ID  Health_Camp_ID  Health Score
0         526631            6536      0.875136
1         509122            6536      0.755700
2         498864            6536      0.673181
3         515398            6536      0.722041
4         504624            6536      0.464712
...          ...             ...           ...
7814      490853            6529      0.103136
7815      499836            6529      0.507841
7816      511286            6529      0.627865
7817      522935            6529      0.252714
7818      489487            6529      0.691194

[7819 rows x 3 columns]

In [3]:
df.head(15)

    Patient_ID  Health_Camp_ID  Health Score
0       526631            6536      0.875136
1       509122            6536      0.755700
2       498864            6536      0.673181
3       515398            6536      0.722041
4       504624            6536      0.464712
5       486444            6536      0.587405
6       513612            6536      0.722041
7       493571            6536      0.825190
8       494559            6536      0.963084
9       490128            6536      0.755700
10      495905            6536      0.722041
11      505834            6536      0.897937
12      509708            6536      0.526602
13      491905            6536      0.159609
14      512463            6536      0.755700

In [4]:
df.tail(4)

      Patient_ID  Health_Camp_ID  Health Score
7815      499836            6529      0.507841
7816      511286            6529      0.627865
7817      522935            6529      0.252714
7818      489487            6529      0.691194

In [6]:
df.dtypes

Patient_ID          int64
Health_Camp_ID      int64
Health Score      float64
dtype: object

In [11]:
df["Health Score"]

0       0.875136
1       0.755700
2       0.673181
3       0.722041
4       0.464712
          ...
7814    0.103136
7815    0.507841
7816    0.627865
7817    0.252714
7818    0.691194
Name: Health Score, Length: 7819, dtype: float64

In [12]:
df.iloc[10:16]

    Patient_ID  Health_Camp_ID  Health Score
10      495905            6536      0.722041
11      505834            6536      0.897937
12      509708            6536      0.526602
13      491905            6536      0.159609
14      512463            6536      0.755700
15      495867            6536      0.722041